<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Vision_Core.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <Vision_Core.Properties.Settings>
            <setting name="server_ip" serializeAs="String">
                <value>10.0.0.152</value>
            </setting>
            <setting name="server_port" serializeAs="String">
                <value>8000</value>
            </setting>
            <setting name="login" serializeAs="String">
                <value>admin</value>
            </setting>
            <setting name="password" serializeAs="String">
                <value>admin123</value>
            </setting>
            <setting name="save_folder" serializeAs="String">
                <value>d:/vision_core/archive/</value>
            </setting>
            <setting name="line_cross_pre_roll" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="line_cross_alarm_record_time" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="line_cross_alarm_channel" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="conversion_quality" serializeAs="String">
                <value>320x200</value>
            </setting>
            <setting name="ftp_ip" serializeAs="String">
                <value>ftp://edspurrier.com</value>
            </setting>
            <setting name="ftp_login" serializeAs="String">
                <value>vision_core_safe@lumigear.net</value>
            </setting>
            <setting name="ftp_password" serializeAs="String">
                <value>idsidsidsids</value>
            </setting>
            <setting name="core_sql_ip" serializeAs="String">
                <value>edspurrier.com</value>
            </setting>
            <setting name="core_sql_login" serializeAs="String">
                <value>edspurri_vision</value>
            </setting>
            <setting name="core_sql_password" serializeAs="String">
                <value>idsidsidsids</value>
            </setting>
            <setting name="vision_sql_ip" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="vision_sql_login" serializeAs="String">
                <value>root</value>
            </setting>
            <setting name="vision_sql_password" serializeAs="String">
                <value />
            </setting>
            <setting name="core_sql_database" serializeAs="String">
                <value>edspurri_vision_gui</value>
            </setting>
            <setting name="vision_sql_database" serializeAs="String">
                <value>vision_core</value>
            </setting>
            <setting name="system_internal_name" serializeAs="String">
                <value>Vision Core Test</value>
            </setting>
            <setting name="cc_record_channel_1" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="cc_record_channel_2" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="cc_record_channel_3" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="cc_record_channel_4" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="cc_preroll" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="cc_min_length" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="cc_ftp_sub_dir" serializeAs="String">
                <value>container_chain</value>
            </setting>
            <setting name="cc_clean_up" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cpa_reprocess" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="va_min_confidence" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ie_crop_x" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="ie_crop_y" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="ie_crop_width" serializeAs="String">
                <value>1300</value>
            </setting>
            <setting name="ie_crop_height" serializeAs="String">
                <value>750</value>
            </setting>
            <setting name="cd_process_date" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="cd_process_datetime" serializeAs="String">
                <value>06/19/2019 10:25:00</value>
            </setting>
            <setting name="cd_recording_channel" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="cd_clean_up" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="cpa_process_datetime" serializeAs="String">
                <value>06/20/2019 00:01:00</value>
            </setting>
            <setting name="cpa_process_date" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="cpa_owner" serializeAs="String">
                <value />
            </setting>
            <setting name="visioncore_gui_sql_database" serializeAs="String">
                <value>edspurri_vision_core</value>
            </setting>
        </Vision_Core.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Google.Protobuf" publicKeyToken="a7d26565bac4d604" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.6.1.0" newVersion="3.6.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis.Auth" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.35.1.0" newVersion="1.35.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis.Auth.PlatformServices" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.35.1.0" newVersion="1.35.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Api.Gax" publicKeyToken="3ec5ea7f18953e47" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.5.0.0" newVersion="2.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Api.Gax.Grpc" publicKeyToken="3ec5ea7f18953e47" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.5.0.0" newVersion="2.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Api.CommonProtos" publicKeyToken="3ec5ea7f18953e47" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.16.0" newVersion="8.0.16.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>